<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Получить заявку</title>
</head>
<body>
    <h1>Получить заявку</h1>

    <form method="post" enctype="multipart/form-data" action="/read_qr">
        <label for="photo">QR-код:</label>
        <input type="file" name="photo" accept="image/*">
        <button type="submit">Прочитать</button>
    </form>

    {% if photo_path %}
        <h2>Состояние станка:</h2>
        <img src="{{ photo_path }}" alt="Состояние станка" style="max-width: 300px;">

        {% if qr_data %}
            <p>{{ qr_data | safe }}</p>
        {% endif %}

    {% endif %}
    <br/>
    <a href="{{ url_for('index') }}"><button>На главную</button></a>
</body>
</html>
